:root{
  --bg: #1a659e;
  --bordes:#004e89;
  --text:#f4aac6;
  --muted:#a8b0c2;
  --accent:#6ba4ff;
  --border:#2b3354;
  --a:#fe42e2;
  --b:#8f22c5;
  --c:#0f0bf5;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;           
  margin: 0;   
  background-color: var(--bg);            
}

.box {
  border: 25px solid var(--bordes);
  padding: 20px;
  display: inline-flex;            
  background-color: #ffe5d9;
  display: flex;     
  justify-content: center; 
  align-items: center;   
  border-radius: 15px;  
  font-size: 50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}
